<ion-header>

  <ion-toolbar color='{{schoolServ.school.colorA}}'>
    <ion-title>Sites</ion-title>
  </ion-toolbar>

  <!-- Tiplined Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" edge>
      <ion-fab-button size="small" color="danger" (click)="openWebsite('https://www.p3tips.com/tipform.aspx?ID=242')"><ion-icon name="warning"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-header>

<ion-content>

    <!-- Search -->
    <ion-searchbar (ionInput)="onSearch($event)" (ionCancel)="onCancel()" slot="fixed">
    </ion-searchbar>

    <!-- General Info/Websites -->
    <ion-item-group class="general-group" *ngIf="showGeneral">

        <ion-item-divider color="light">General</ion-item-divider>

        <ion-list>

            <ion-item>
              <ion-label>
                <ion-text>
                  {{ schoolServ.school.name }}
                  <p (click)="openWebsite('https://cyranch.cfisd.net/en/')">{{schoolServ.school.website}}</p>
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-text>
                  Google Classroom
                  <p (click)="openWebsite('https://classroom.google.com/')">classroom.google.com</p>
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <ion-text>
                  School Cash Online
                  <p (click)="openWebsite('https://cypress-fairbanksisd.schoolcashonline.com/')">schoolcashonline.com</p>
                </ion-text>
              </ion-label>
            </ion-item>

            <ion-item (click)="switchSchool()">
              <ion-label>
                <ion-text>
                  Edit School
                  <p>Switch from {{schoolServ.school.name}}</p>
                </ion-text>
              </ion-label>
            </ion-item>

        </ion-list>

    </ion-item-group>

    <!-- Teachers -->
    <div *ngFor="let letter of letters">

        <ion-item-group *ngIf="curTeachers[letter] && curTeachers[letter].length > 0">

            <ion-item-divider color="light">{{ letter }}</ion-item-divider>
            <ion-list>
                <ion-item-sliding *ngFor="let teacher of curTeachers[letter]">
                    <ion-item>
                        <ion-label>
                          {{ teacher.name }}
                          <p *ngIf="teacher.website != null" (click)="openWebsite(teacher.website)">{{ cleanWebsite(teacher) }}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-button color="primary" (click)="emailTeacher(teacher)"><ion-icon name="mail"></ion-icon></ion-button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>

        </ion-item-group>

    </div>

</ion-content>
