<ion-tabs>

  <ion-tab-bar slot="bottom" color='{{schoolServ.school.colorA}}'>

    <ion-tab-button tab="news" href="/tabs/news">
      <ion-icon name="paper"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grades" href="/tabs/grades">
      <ion-icon name="school"></ion-icon>
      <ion-label>Grades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sites" href="/tabs/sites">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Sites</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>