$colors: (
    primary: #488aff,
    secondary: #32db64,
    danger: #f53d3d,
    light: #f4f4f4,
    dark: #222,
    great: #4CAF50,
    ok: #FFCA28,
    poor: #673AB7,
    bad: #E53935,
    zero: #424242,
    none: #909090,
    bridgeland-colorA: #1a2b49,
    bridgeland-colorB: #27416f,
    bridgeland-colorC: #f83100,
    cyfair-colorA: #652325,
    cyfair-colorB: #8b3033,
    cyfair-colorC: #5e120c,
    cypresscreek-colorA: #0038a7,
    cypresscreek-colorB: #0049da,
    cypresscreek-colorC: #001e5a,
    cypressfalls-colorA: #42a02c,
    cypressfalls-colorB: #53c837,
    cypressfalls-colorC: #fcd901,
    cypresslakes-colorA: #d20308,
    cypresslakes-colorB: #fc0c12,
    cypresslakes-colorC: #d0d0d0,
    cypresspark-colorA: #4f471b,
    cypresspark-colorB: #756829,
    cypresspark-colorC: #c5b358,
    cypressranch-colorA: #202c85,
    cypressranch-colorB: #2a3aae,
    cypressranch-colorC: #f6de23,
    cypressridge-colorA: #02008b,
    cypressridge-colorB: #0300be,
    cypressridge-colorC: #010062,
    cypresssprings-colorA: #003876,
    cypresssprings-colorB: #0050a9,
    cypresssprings-colorC: #cd1041,
    cypresswoods-colorA: #6a0000,
    cypresswoods-colorB: #9d0000,
    cypresswoods-colorC: #c1a300,
    jerseyvillage-colorA: #4d2d7a,
    jerseyvillage-colorB: #653b9f,
    jerseyvillage-colorC: #a5a5a5,
    langhamcreek-colorA: #9d1e1e,
    langhamcreek-colorB: #d73030,
    langhamcreek-colorC: #111111,
    windfernschoolofchoice-colorA: #4e70c0,
    windfernschoolofchoice-colorB: #748ecd,
    windfernschoolofchoice-colorC: #4e4d52,
);