<ion-header>

  <ion-navbar color='{{schoolServ.school.colorA}}'>
    <ion-title>Calender</ion-title>
  </ion-navbar>

  <ion-toolbar>
        <ion-segment [(ngModel)]="calendermode" color='{{schoolServ.school.colorB}}'>
            <ion-segment-button value="assignments">
                Assignments
            </ion-segment-button>
            <ion-segment-button value="attendance">
                Attendance
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>

  <ion-fab *ngIf="calendermode == 'assignments'" top right edge>
      <button ion-fab mini color='{{schoolServ.school.colorC}}' (click)="openBellSchedule()"><ion-icon name="notifications"></ion-icon></button>
  </ion-fab>

  <ion-fab *ngIf="calendermode == 'attendance'" top right edge>
      <button ion-fab mini color='{{schoolServ.school.colorC}}' (click)="refresh()"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>

  <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content pullingText="Refresh" refreshingSpinner="crescent" refreshingText="">
      </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!loading && currentGrades.length == 0">
      <ion-card-header>
          <b>Login</b>
      </ion-card-header>
      <ion-card-content>
          Use the button in the top right of the Grades tab to login.
          <br> (
          <ion-icon name="book" color="dark"></ion-icon> then
          <ion-icon name="options" color="dark"></ion-icon> then
          <ion-icon name="person-add" color="great"></ion-icon>)
      </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!loading && calendermode == 'attendance' && !attendance.months">
      <ion-card-content>
          <h3 text-center>Refresh to see attendance. (<ion-icon name="refresh" color="{{schoolServ.school.colorC}}"></ion-icon>)</h3>
      </ion-card-content>
  </ion-card>

  <div *ngIf="loading" text-center>
      <ion-chip>
          <ion-label>Please wait...</ion-label>
      </ion-chip>
  </div>

    <div *ngIf="calendermode == 'assignments'">

      <ion-list *ngIf="currentGrades">

        <ion-item-group *ngFor="let timeslot of currentGrades._assignCalender">

          <ion-item-divider id="{{ timeslot.name }}" color='{{schoolServ.school.colorB}}'>{{ timeslot.name }}</ion-item-divider>

          <ion-item *ngFor="let assignment of timeslot.assignments">
              <h2><b>{{ assignment.name }}</b></h2>
              <p>{{ assignment.subject }} ({{ assignment.datedue }})</p>
          </ion-item>

        </ion-item-group>

      </ion-list>

    </div>

    <div *ngIf="calendermode == 'attendance'">

      <ion-list>

        <ion-card *ngFor="let month of attendance.months">

          <ion-card-header>
            <b>{{ month.name }}</b>
          </ion-card-header>

          <ion-card-content>
            <ion-row>
              <ion-col>M</ion-col>
              <ion-col>T</ion-col>
              <ion-col>W</ion-col>
              <ion-col>T</ion-col>
              <ion-col>F</ion-col>
              <ion-col>S</ion-col>
            </ion-row>
            <ion-row *ngFor="let row of month._rows">
              <ion-col col-2 *ngFor="let idx of row">
                <ion-badge *ngIf="idx >= 0" color="{{ getColor(month.days[idx]) }}" (click)="showDayInfo(month.days[idx])">{{ (month.days[idx].day + "").padStart(2, "0") }}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-list>

    </div>

</ion-content>
